/shelf/
/workspace.xml
.idea
.idea/*
.venv
.venv/*
venv/*
.run
.run/*
__pycache__/*
*/__pycache__/*
*?metastore_db/*
*/spark_warehouse/*
.mypy_cache/
.DS_Store
.vscode/*
config
loaded_data/*
derby.log
output
output/*
